* {
    box-sizing     : border-box;
    margin         : 0;
    padding        : 0;
    font-family    : Arial, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --cor1: #BE805D;
    --cor2: #F2B441;
    --cor3: #D9B68B;
    --cor4: #A6896F;
    --cor5: #733B1A;
}

html {
    background-image: url(imagens/fundo.jpeg);
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    color     : white;
    text-align: center;
}

#header {
    display: flex;
}

#corpo-principal {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-top    : 1em;
}

#inscricoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    color: white;

    
    & img {
        width: 25em;
        border-radius: .5rem;
    }
    
    & a {
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        font-weight: bold;
        background-color: var(--cor5);
        padding: 1rem;
        border-radius: .4rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
}



.link {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 23em;
    height          : 6em;
    border-radius   : 1em;
    box-shadow      : 3px 3px 5px rgba(0, 0, 0, 0.253);
    padding         : 10px;
    background-color: var(--cor3);
    text-decoration : none;
    margin-bottom   : 1.5em;
    transition      : .3s ease-in-out;
}

.link:hover {
    background-color: #733B1A;
    cursor: pointer;
}

.link a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    
    & .link a:hover {
        text-decoration: none;
    }
}

/* Link styles */

.link a span {
    font-size: 1em;
}

.link a span:hover {
    text-decoration: underline;
}

.link a img {
    width: 3em;
}

#igrejas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 80%;
    margin-top: 2em;
}

.igreja-loc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor3);
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    width: 20rem;
    height: 25rem;
    text-align: center;
    transition: .3s ease-in-out;
    
    & .church-title {
        font-size: 1.5rem;
        color: var(--cor5);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .5rem;
        
        & a {
            color: var(--cor5);
            text-decoration: none;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }

        & a:hover {
            color: var(--cor1);
        }

    }

    & img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 10px;
    }

    & p {
        color: var(--cor5);
        font-size: 1.2em;
        margin-top: 0.5em;
    }

}

.igreja-loc:hover {
    background-color: #ffe0ba;;
    cursor: pointer;
}


.rodape {
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    height          : auto;
    background: linear-gradient(to bottom, transparent 50%, var(--cor2));
}


.p-rodape {
    color: white;
    font-size: 1.2em;
    padding: 2em;
}

.p-rodape a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.p-rodape a:hover {
    text-decoration: underline;
}

.faq {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

    & h2 {
        color: white;
    }
}

form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;

    & input {
        border: none;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
        transition: .2s;
    }

    & button {
        background-color: var(--cor1);
        color: white;
        border: none;
        padding: 0.5em;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        width: 50%;
        margin: auto;
        transition: .2s;

        &:hover {
            background-color: var(--cor5);
        }
    }
}


@media (max-width: 768px) {
    html {
        background-size: 100% 100%;
    }

    header {
        font-size: .8em;
    }

    #header {
        flex-direction: column;
    }

    #corpo-principal {
        flex-direction: column;
        font-size: 1em;
    }

    #links {
        grid-template-columns: 1fr;
    }
    

    .link {
        width: 90%;
        margin: auto;
        margin-bottom: 1rem;
    }

    #igrejas {
        flex-direction: column;
        width: 90%;
    }

    #inscricoes {
        width: 90%;

        & img {
            width: 20rem;
        }
    }

    

    .church-title a {
        font-size: 1.2rem;
    }

    .p-rodape {
        font-size: 1em;
    }
}

@media (max-width: 320px)
{
    header {
        font-size: .4em;
    }


    .link {
        width : 90%;
    }

    .p-rodape {
        font-size: .6em;
    }
}